html, body {
  background-color: #0D1117 !important;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 17px;
  color: white;
  overflow-wrap: anywhere;
}

.wrapper-max-width {
  max-width: 800px;
  margin: 0 auto;
}

.universal-popcorns-top-title {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'BungeeSpice-Regular';
  margin-top: 30px;
  margin-bottom: 30px;
}

.universal-popcorns-top-title a {
  text-decoration: none;
}

.back-arrow {
  background-color: orange;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

/* unvisited link */
a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.top-header-container {
  margin-bottom: 20px;
}

.top-header {
font-size: 1.2rem;
font-family: 'BungeeSpice-Regular';
}

.top-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-header li {
  float: left;
  margin-top: 1rem;
}

.top-header li a {
  display: block;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 1.5rem;
}

.top-header li a:hover {
  background-color: #5DADEC;
}

.top-header .active {
  background-color: white;
}

.universal-popcorns-image-container {
display: flex;
justify-content: center;
}

#universal-popcorns-image {
width: 700px;
height: auto;
max-width: 100%;
}
 
.universal-popcorns-anthem {
  margin: 0 auto;
  text-align: center;
  font-family: 'ReenieBeanie-Regular';
}

.universal-popcorns-anthem h2 {
  font-size: 4rem;
  }

.universal-popcorns-anthem p {
font-size: 3rem;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; 
}

.flex-item {
  display: flex;
  flex-direction: column;
}

.flex-item .text {
  margin-top: 10px;
}

.category-container {
  padding: 10px;
  margin-top: 50px;
  overflow: auto;
}

.category-container:hover {
  border-style: dotted;
  border-width: 5px;
}

.category-container .title {
  font-size: 2rem;
  font-family: 'BungeeSpice-Regular';
  margin-bottom: 10px;
}

.category-container .title a {
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  display: inline-block;
}

.category-container .title a:hover {
  box-shadow: 0 0 10px 5px #fff;
}


/* Character flexboxes */

.Pooplord_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #4A3D53;
  overflow: auto;
}

.Pooplord_container_text {
  font-size: 1.3em; 
  color: #D6C5B2;
}

.Scott-Cornman_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white; 
  background-color: #223320; 
  overflow: auto;
}

.Scott-Cornman_container_text {
  font-size: 1.3em;
  color: #D8CE5E; 
}
  
.Rupus_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #3F3A2B;
  overflow: auto;
}   

.Rupus_container_text {
  font-size: 1.3em; 
  color: #D87C96;  
}

.Flarglin_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #A4543A; 
  overflow: auto;
}   

.Flarglin_container_text {
  font-size: 1.3em;
  color: #FFE300;   
}

.Pete_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #10183D;
  overflow: auto;
}

.Pete_container_text {
  font-size: 1.3em;
  color: #CCD9F2; 
}

.Archie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #401A1A; 
  overflow: auto;
}

.Archie_container_text {
  font-size: 1.3em;
  color: #FFAA7F; 
}
  
.Rob_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #34005F;  
  overflow: auto;
}   

.Rob_container_text {
  font-size: 1.3em;
  color: #FFB4FC;   
}

.Richie_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #1A1F40;
  overflow: auto;
}   

.Richie_container_text {
  font-size: 1.3em;
  color: #FFDC95;   
}

.Tom_container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #2B1A05;   
  overflow: auto;
}   

.Tom_container_text {
  font-size: 1.3em;
  color: #FFD658;   
}

.Tom_container .ReRegrooved img {
  padding: 10px;
}
/* Character flexboxes end */