html, body {
  background-color: #0D1117 !important;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  font-family: Calibri;
  font-size: 17px;
  color: white;
  overflow-wrap: anywhere;
}

.wrapper-max-width {
  max-width: 800px;
  margin: 0 auto;
}

.universal-popcorns-top-title {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'BungeeSpice-Regular';
  margin-top: 30px;
  margin-bottom: 30px;
}

.universal-popcorns-top-title a {
  text-decoration: none;
}

.back-arrow {
  background-color: orange;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

/* unvisited link */
a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

.top-header-container {
  margin-bottom: 20px;
}

.top-header {
font-size: 1.2rem;
font-family: 'BungeeSpice-Regular';
}

.top-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-header li {
  float: left;
  margin-top: 1rem;
}

.top-header li a {
  display: block;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 1.5rem;
}

.top-header li a:hover {
  background-color: #5DADEC;
}

.top-header .active {
  background-color: white;
}

.universal-popcorns-image-container {
display: flex;
justify-content: center;
}

#universal-popcorns-image {
width: 700px;
height: auto;
max-width: 100%;
}
 
.universal-popcorns-anthem {
  margin: 0 auto;
  text-align: center;
  font-family: 'ReenieBeanie-Regular';
}

.universal-popcorns-anthem h2 {
  font-size: 4rem;
  }

.universal-popcorns-anthem p {
font-size: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-item {
  margin: 10px;
  border-style: outset;
  border-width: 5px;
}

.flex-item:hover {
  border-style: dotted;
  border-width: 5px;
}

.flex-item img {
  max-width: 100%;
  width: 500px;
}