html, body {
  background-color: #0D1117 !important;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  font-family: Calibri;
  font-size: 17px;
  color: white;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: red;
}