html, body {
  background-color: #0D1117 !important;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  font-family: Calibri;
  font-size: 17px;
  color: white;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h2.left {
  text-align: left;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

/* unvisited link */
a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

.top-header {
font-size: 1.5em;
}

.top-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.top-header li {
  float: left;
  margin-top: 1.3em;
}

.top-header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 0.8em;
}

.top-header li a:hover {
  background-color: #5DADEC;
}

.top-header .active {
  background-color: #EB6A3C;
}
